name: Publish to NuGet

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

env:
  BuildConfiguration: Release
  ProjectFile: ./src/CoreMask/CoreMask.csproj
  PackageName: PMart.DeveloperTools.CoreMask.*.nupkg
  NuGetUrl: https://api.nuget.org/v3/index.json

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Pack
        run: dotnet pack ${{ env.ProjectFile }} --configuration ${{ env.BuildConfiguration }}

      - name: Publish to nuget.org
        run: dotnet nuget push ./**/${{ env.PackageName }} --source ${{ env.NuGetUrl }} --api-key $NUGET_AUTH_TOKEN --skip-duplicate --no-symbols
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_API_KEY }}